.line1{
    color: #109f50;
}
.row {
    
    display: grid;
    place-items: center;
    margin: 10px auto;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    

}

#link{
   text-decoration: none;
   margin-bottom: 5px;
}

#Images{
    margin: auto;
    box-shadow: 2px 2px 2px rgb(170, 170, 170);
    border-radius: 5%;
    width: 200px;
    height: 200px;
   


}

#rating{
    margin-top: 0px;
    padding: 0px;
}


.Button1{
    background-color: orange;
    display: block;
    overflow: auto;
    padding: 8px;
}

footer{
    background-color: #5CDB95;
    padding: 15px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
}

tr:nth-child(2){
    background-color: green;
    color:white;
}

