.The-Box{
    text-align: center;
}

.flex-container{
    display: flex;
    flex: 1 1 0;
    width: 100%;
    overflow: scroll;
}
.flex-container div{
    background: gray;
    border: 2px solid black;
    text-align: center;
    height: 100%;
    
}
.flex-img{
height: 200px;
    object-fit: cover;
}

.Peanut2{
    height: 600px;
}
.Hamburger2{
    height: 600px;
}
.Smoothie2{
    height: 600px;
}


.Container{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin: 0 auto;
    width: 1400px;
    border: lightgray;
    gap: 21em;
}
.Container span{
    margin: auto;
    font-size: 2rem;
}

.Buttons:nth-of-type(1) {
    background-color: orange;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.Buttons:nth-of-type(2){
    background-color: lightblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.Buttons:nth-of-type(3){
    background-color: lightgreen;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px; 
}

.Buttons:nth-of-type(4){
background-color: lightcoral;
border-radius: 5px;
padding-left: 5px;
padding-right: 5px;
}

.Intro{
    padding: 50px;
    border: 20px solid black;
    margin: 40px;
    text-align: center;
}